html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #e9edf1;
  font-family: "Nunito", sans-serif;
  margin: 0;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #dbe1e8;
  padding: 2.5em;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3em;
  flex: 1 0 auto;
}

nav {
  position: fixed;
  right: -100%;
  top: 0;
  width: 33%;
  background: white;
  height: 100vh;
  z-index: 2;
  transition: right 0.5s ease-in-out;
  padding: 4.6em;
}

.menu-btn {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.open {
  right: 0%;
}
.close {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-bottom: 6.6em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.logo {
  color: #0460bc;
  font-size: 2.2rem;
  font-weight: bold;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3.5em;
}

ul li a {
  font-size: 1.8rem;
  color: black;
}

ul li a.active {
  font-weight: bold;
}

ul li a:hover {
  color: #0460bc;
}

.footer {
  background: #dbe1e8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
}

@media screen and (min-width: 600px) {
  .menu-btn,
  .close {
    display: none;
  }
  nav {
    position: unset;
    height: auto;
    background: none;
    padding: 0;
    width: auto;
  }
  ul {
    flex-direction: row;
  }
}
