.sidebar {
  flex: 0 0 280px;
  height: 100vh;
  background-color: #261c25;
  display: flex;
  color: white;
}

.sidebar h1 {
  font-size: 24px;
}

.espace_choice {
  flex: 0 0 75px;
  padding: 16px;
  text-align: center;
}
.espace_current {
  flex-grow: 1;
  background-color: #4b3949;
  padding: 16px;
}

.espace_name {
  font-size: 18px;
  opacity: 0.3;
}

.espace_name--active {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px;
  border-radius: 4px;
}
